<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta http-equiv="X-UA-Compatible" content="ie=edge">  
    <title>Upload CSV</title>  
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>  
<body>  
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">  
                <a class="navbar-brand" href="#">Upload csv</a>  
              </nav>  
    <div class="container">  
        <div class=" nav justify-content-center" style="margin-top:100px;">  
         <div class="card border-warning mb-3 " style="max-width: 20rem;">  
                <div class="card-header"><h5>Upload csv file</h5></div>  
                <div class="card-body">  
                        <form action="/uploadCSV" method="post" enctype="multipart/form-data">  
                            <input type="file" name="csv"><br><br>  
                         <div class="text-center"><button type="submit" class="btn btn-lg btn-primary" >submit</button></div>     
                        </form>  
                </div>  
          </div>  
    </div><br>  
    <!-- <form action="/" method="get" enctype="multipart/form-data">  
     <div class="text-center"><button type="submit" class="btn btn-lg btn-primary">FetchAll</button></div>     
    </form>  -->
    <a href="/getAll" class="">Get All</a>
<br>  
</body>  
</html> 